:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;

  --primary-color: #4040e5;
  --secondary-color: #04b5f5;

  --inverted-primary-color: #06b006;
  --inverted-secondary-color: #014b01;
}
